:host {
  * {
    text-align: center;
  }

  & > * {
    background-color: rgba(120, 150, 180, 0.4);
    box-shadow: 0 4px 8px 0 rgba(120, 150, 180, 0.2),
      0 4px 20px 0 rgba(120, 150, 180, 0.2);

    .site {
      a {
        text-decoration: none;
        color: white;
        filter: drop-shadow(0px 0px 8px black);
      }

      img {
        height: 60px;
      }
    }
  }
}
