<div>
  <div class="filter">
    <div class="header">
      <span class="title">
        Filtros:
      </span>
      <span class="show-control" (click)="showFilters = !showFilters">
        {{ showFilters ? '&#10094;' : '&#10095;' }}
      </span>
    </div>
    <div class="container" *ngIf="showFilters">
      <div>
        <label for="name-filter">Nome</label>
        <input id="name-filter" [(ngModel)]="filter.name" />
      </div>
      <div>
        <label for="desc-filter">Descrição</label>
        <input id="desc-filter" [(ngModel)]="filter.desc" />
      </div>
      <div>
        <label for="lang-filter">Linguagem</label>
        <select id="lang-filter" [(ngModel)]="filter.lang">
          <option value="">Sem filtro</option>
          <option *ngFor="let language of langNames" [value]="language">
            {{ language }}
          </option>
        </select>
      </div>
      <div>
        <label for="project-filter">Projeto</label>
        <select id="project-filter" [(ngModel)]="filter.project">
          <option value="">Sem filtro</option>
          <option *ngFor="let project of projects" [value]="project.id">
            {{ project.name }}
          </option>
        </select>
      </div>
      <div>
        <input
          class="ok-btn"
          type="button"
          value="Filtrar"
          (click)="updateRepositories()"
        />
      </div>
      <div>
        <input
          class="clear-btn"
          type="button"
          value="Limpar"
          (click)="clearFilters()"
        />
      </div>
    </div>
  </div>
  <table>
    <tbody>
      <tr class="main-header">
        <th colspan="3">Projetos</th>
      </tr>
      <tr>
        <th>Projeto</th>
        <th colspan="2">Descrição</th>
      </tr>
      <tr *ngFor="let repo of repositories$ | async">
        <td>
          <div class="name">
            <ng-container *ngIf="!repo.homepage; else link">
              {{ repo.name }}
            </ng-container>
            <ng-template #link>
              <a href="{{ repo.homepage }}">{{ repo.name }}</a>
            </ng-template>
          </div>
          <div>
            <a href="{{ repo.html_url }}">
              <img
                src="assets/img/github/GitHub_Logo.png"
                alt="GitHub"
                title="Código fonte: GitHub"
              />
            </a>
          </div>
        </td>
        <td colspan="2">
          <div
            [innerHTML]="getRepoDescription(repo) | async"
            class="description"
          ></div>
          <div>
            <ng-container
              *ngIf="getRepoLanguage(repo) | async as lang; else languageName"
            >
              <a href="{{ lang.link }}">
                <img
                  src="{{ lang.image }}"
                  alt="{{ lang.name }}"
                  title="Linguagem: {{ lang.name }}"
                />
              </a>
            </ng-container>
            <ng-template #languageName>
              {{ repo.language }}
            </ng-template>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
