* {
	text-align: center;
}

#header {
	background-color: rgba(120, 150, 180, 0.4);
	box-shadow: 0 4px 8px 0 rgba(120, 150, 180, 0.2),
		0 4px 20px 0 rgba(120, 150, 180, 0.2);
}

#filter {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
		0 4px 20px 0 rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
	padding: 5px;
	text-align: Left;
}

#filter * {
	text-align: Left;
	margin: 2px;
}

#filter .ok-btn {
	padding: 4px 26px;
}

#filter .container {
	width: inherit;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

#filter .container > div {
	width: inherit;
	margin: auto;
}

#site img {
	height: 60px;
	filter: drop-shadow(0px 0px 8px black);
}

#github {
	width: 100%;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 30, 0.9);
}

#github h4 {
	margin: 0px;
}

#github > a {
	color: white;
}

.ok-btn {
	color: #ffffff;
	background-color: #4caf50;
	cursor: pointer;
	border: none;
}

table {
	width: inherit;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
	margin-top: 0px;
	margin-bottom: 100px;
	max-width: 100%;
}

td,
th {
	border: 1px solid lightslategray;
	text-align: left;
	padding: 3px;
}

th {
	padding: 10px;
	font-size: 20px;
}

#main-header th {
	border: 1px solid darkslateblue;
	background-color: rgba(0, 0, 90, 0.7);
	color: white;
	text-align: center;
}

#main-header h3 {
	margin: 0;
}

tr:nth-child(even) {
	background-color: rgba(230, 240, 240, 0.9);
}

tr:nth-child(odd) {
	background-color: rgba(240, 240, 230, 0.9);
}

.github-logo {
	text-align: center;
}

.github-logo img {
	width: 15vw;
	max-width: 80px;
	min-width: 35px;
	height: auto;
}

.language-extra a {
	color: black;
}

.language-extra img {
	width: 15vw;
	max-width: 80px;
	min-width: 35px;
	max-height: 40px;
}

@media (min-width: 650px) {
	#body {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

@media (min-width: 300px) and (max-width: 550px) {
	td,
	th {
		font-size: 3vw !important;
	}
}

@media (max-width: 800px) {
	#filter .container {
		flex-direction: column;

		align-content: stretch;
	}
}

@media (max-width: 300px) {
	td,
	th {
		font-size: 10px !important;
	}
}

@media (max-height: 500px) {
	#github {
		visibility: hidden;
	}

	table {
		margin-bottom: 0px !important;
	}
}
