<div id="header">
  <h1 class="site">
    <a href="{{link}}">
      <div>
        <img src="assets/img/github/GitHub_Logo_White.png" height="60px" />
      </div>
    </a>
  </h1>
</div>
<div id="body">
  <div class="filter">
    <h4>
      Filtros:
    </h4>
    <div class="container">
      <div>
        <label for="name-filter">Nome</label>
        <input id="name-filter" [(ngModel)]="filter.name" />
      </div>
      <div>
        <label for="lang-filter">Linguagem</label>
        <select id="lang-filter" [(ngModel)]="filter.lang">
          <option value="">Sem filtro</option>
          <option *ngFor="let language of langNames" [value]="language">{{language}}</option>
        </select>
      </div>
      <div>
        <label for="project-filter">Projeto</label>
        <select id="project-filter" [(ngModel)]="filter.project">
          <option value="">Sem filtro</option>
          <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
        </select>
      </div>
      <div>
        <input class="ok-btn" type="button" value="Filtrar" (click)="updateRepositories()">
      </div>
    </div>
  </div>
  <table>
    <tbody>
      <tr class="main-header">
        <th colspan="4">Projetos</th>
      </tr>
      <tr>
        <th>Projeto</th>
        <th>Descrição</th>
        <th>Linguagem</th>
        <th>Código</th>
      </tr>
      <tr *ngFor="let repo of repositories$ | async">
        <ng-container *ngIf="!repo.homepage; else link">
          <td>{{repo.name}}</td>
        </ng-container>
        <ng-template #link>
          <td><a href="{{repo.homepage}}">{{repo.name}}</a></td>
        </ng-template>
        <td>{{repo.description}}</td>
        <ng-container *ngIf="getLanguage(repo.language) | async as lang; else languageName">
          <td class="language-extra">
            <a href="{{lang.link}}">
              <div>{{lang.name}}</div>
              <div>
                <img src="{{lang.image}}" alt="{{lang.name}}" />
              </div>
            </a>
          </td>
        </ng-container>
        <ng-template #languageName>
          <td><a href="{{repo.homepage}}">{{repo.language}}</a></td>
        </ng-template>
        <td class="github-logo">
          <a href="{{repo.html_url}}">
            <img src="assets/img/github/GitHub_Logo.png" alt="GitHub" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="footer">
  <a href="{{link}}">
    <div>
      <img src="assets/img/github/mark/GitHub-Mark-Light-32px.png" />
      <h4>GitHub</h4>
    </div>
  </a>
</div>